apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kener.fullname" . }}-config
  labels:
    {{- include "kener.labels" . | nindent 4 }}
data:
  site.yaml: |
    {{- toYaml .Values.site | nindent 4 }}
  monitors.yaml: |
    {{- toYaml .Values.monitors | nindent 4 }}
