---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kener.fullname" . }}-env
  labels:
    {{- include "kener.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if .Values.envs.githubToken }}
  GH_TOKEN: {{ .Values.envs.githubToken | quote }}
  {{- end }}
  {{- if .Values.envs.apiToken }}
  API_TOKEN: {{ .Values.envs.apiToken | quote }}
  {{- end }}
  {{- if .Values.envs.apiIP }}
  API_IP: {{ .Values.envs.apiIP | quote }}
  {{- end }}
  {{- if .Values.envs.apiIPRegex }}
  API_IP_REGEX: {{ .Values.envs.apiIPRegex | quote }}
  {{- end }}
  {{- if .Values.extraEnvs }}
  {{- .Values.extraEnvs | toYaml | nindent 2 }}
  {{- end }}
  {{- if eq .Values.databaseType "sqlite" }}
  DATABASE_URL: "sqlite://./database/kener.sqlite.db"
  {{- end }}
  {{- if eq .Values.databaseType "postgres" }}
  DATABASE_URL: {{ .Values.postgres.url | quote }}
  {{- end }}
  {{- if eq .Values.databaseType "mysql" }}
  DATABASE_URL: {{ .Values.mysql.url | quote }}
  {{- end }}
